.main-photo {
  display: inline-block;
  height: 250px;
  border-radius: 30px;
  margin: 20px;
  margin-bottom: 0px;
}

.photo-area {
  grid-row: photo-area;
}

.par-area {
  grid-area: par-area;
}

.media-section-bg {
  display: inline-block;
  background-color: rgb(190, 190, 190);
  width: 250px;
  margin-left: 20px;
  border-radius: 15px;
  text-align: center;
  padding-top: 1px;
  vertical-align: top;
  margin-top: 25px;
}

.aboutme-grid-container {
  display: grid;
  margin-left: 100px;
  margin-right: 80px;
}

@media (max-width: 900px) {
  .overflow-handler {
    overflow-x: scroll;
  }

  .aboutme-grid-container {
    margin-left: 30px;
  }

  .grid-areas-container {
    grid-template-areas:
      'photo-area'
      'par-area';
  }
}

@media (min-width: 900px) {
  .overflow-handler {
    overflow-x: hidden;
  }

  .grid-areas-container {
    grid-template-areas:
      /* 'main-photo par-area'
      '.          par-area'; */
      'par-area   photo-area'
      'par-area   .';
    grid-template-columns: auto 300px;
  }
}

@media (max-width: 550px) {
  .aboutme-grid-container {
    margin-left: auto;
    margin-right: auto;
  }
}
