.about-me {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow-x: wrap;
  background-color: rgb(21, 21, 21);
  background-image: url('../assets/bg-pattern.png');
  background-size: 50px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.grid-container {
  display: grid;
  margin: 20px;
}

.main-photo {
  grid-area: main-photo;
  height: 300px;
  border-radius: 30px;
  margin: 20px;
}

.par-area {
  grid-area: par-area;
}

.intro-paragraph {
  color: white;
  line-height: 1.7;
  margin: 10px;
  margin-bottom: 25px;
}

@media (max-width: 650px) {
  .grid-areas-container {
    grid-template-areas:
      'main-photo'
      'par-area';
    grid-template-columns: 400px;
  }
}

@media (min-width: 650px) {
  .grid-areas-container {
    grid-template-areas:
      'main-photo par-area'
      '.          par-area';
    grid-template-columns: 350px;
  }
}
