.about-me {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow-y: overlay;
  background-color: rgb(21, 21, 21);
  background-image: url('../assets/bg-pattern.png');
  background-size: 50px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.navbar-spacer {
  height: 50px;
}

.header {
  color: white;
  margin-top: 40px;
  margin-left: 5px;
  text-transform: uppercase;
}

.grid-container {
  display: grid;
  margin-right: 20px;
}

.main-photo {
  grid-area: main-photo;
  height: 350px;
  border-radius: 30px;
  margin: 20px;
}

.par-area {
  grid-area: par-area;
}

.intro-paragraph {
  color: white;
  line-height: 1.7;
  margin: 10px;
  margin-bottom: 20px;
}

@media (max-width: 750px) {
  .overflow-handler {
    overflow-x: scroll;
  }

  .grid-areas-container {
    grid-template-areas:
      'main-photo'
      'par-area';
  }
}

@media (min-width: 750px) {
  .overflow-handler {
    overflow-x: hidden;
  }

  .grid-areas-container {
    grid-template-areas:
      'main-photo par-area'
      '.          par-area';
    grid-template-columns: 400px;
  }
}
